.hero-container {
  text-align: center;
  padding: 20px;
}

.hero-logo {
  display: inline-block;
  margin: 20px;
}

.hero-logo img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
}

.hero-text {
  font-size: 2rem;
  color: #cccccc;
}

.hero-text h1 {
  margin: 10px 0;
  font-size: 2rem;
  color: #ffffff;
}

.hero-text h1 span.name{
  margin: 10px 0;
  font-size: 4rem;
  letter-spacing: -0.5rem;
  color: #ffffff;
}

.social-links {
  margin-top: 40px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.social-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}

.social-links a:hover{
  color: var(--primary-color);
}

.social-links a svg {
  width: 40px; 
  height: 40px; 
}

.social-links a svg path{
  fill: #ffffff;
  transition: color 0.3s;
}

.social-links a:hover svg path {
  fill: var(--primary-color);
}


@media (max-width: 768px) {
  .hero-logo img {
      width: 250px;
      height: 250px;
  }

  .hero-text h1 {
      font-size: 1rem;
  }

  .hero-text h1 span.name{
      font-size: 2rem;
      letter-spacing: -0.25rem;
    }

  .hero-text {
      font-size: 1.2rem;
  }

  .social-links {
    gap: 50px;
  }

  .social-links a svg {
    width: 30px; 
    height: 30px; 
  }
  
}