/* グローバル設定 */
:root {
    --primary-color: #fe1e75; /* ショッキングピンク */
    --background-color: #1a1615; /* 黒基調の背景 */
    --light-text: #fff;
    --dark-text: #333;
}

/* === リセットCSS === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

/* === 全体設定 === */
body {
    font-family: 'BuildingsTracks', 'RocknRollOne', sans-serif;
    letter-spacing: -0.1rem;
    line-height: 1.6;
    color: #cbcbcb;
    /* テキストの基本色 */
    background-color: #323232;
    /* 背景色 */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--primary-color);
    /* ホバー時のリンク色 */
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: 'BuildingsTracks';
    /* see https://typingart.stores.jp/items/6537e2344c088e01e797116c */
    src: url('/fonts/Buildingsandundertherailwaytracksfree_ver.otf') format('opentype');
}

@font-face {
    font-family: 'RocknRollOne';
    src: url('/fonts/RocknRollOne-Regular.ttf') format('truetype');
}
